/*  your css code here. If applicable */
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}
div {
	background-color: white;
	margin: 10px auto;
}
#bands {
  list-style: square;
  width: 500px;
  margin: auto;
  padding: 0;
}
#bands li {
  background: white;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
}

